.search-bar
	.container
		.row
			div(class='col-md-3 col-sm-2')
				a(href='/')
					i(class='fa fa-home fa-lg')
			div(class='col-md-6 col-sm-8')
				form(method='get', action='/search')
					.input-group
						input(type='text', id='q', name='q', placeholder='Vnesi iskalni niz', value=q)
						span.input-group-btn
							button.btn.btn-primary(type='submit')
								i(class='fa fa-search-plus')
			div(class='col-md-3 col-sm-2')
				.pull-right
					a(href='/about') O zbirki