.container-fluid
	.search-bar
		.input-form
			form(method='get' action='/search')
				.input-group
					input(type='text', placeholder='Vnesi iskalni niz')
					span.input-group-btn
						button.btn.btn-primary(type='submit')
							i(class='fa fa-search')