// --------------------------------------------------------------------------------
// KSSJ variables
// --------------------------------------------------------------------------------
// Colors
$kssj-white:					#ffffff;
$kssj-gray1:					#f4f4f4;
$kssj-gray2:					#e8e8e8;
$kssj-gray3:					#929292;
$kssj-black:					#212121;

$kssj-blue-base:				#2196f3;
$kssj-blue1:					#1e86d9;
$kssj-blue2:					#186fb3;
$kssj-blue3:					#104773;
$kssj-blue4:					#072035;

// Fonts - family
$kssj-font-family:				'Fira Sans', sans-serif;					

// Fonts - md, sm, xs


// --------------------------------------------------------------------------------
// Bootstrap overrides
// --------------------------------------------------------------------------------

$text-color: 					#565656;
$link-color:					#23a9f6;

$brand-primary:					$kssj-blue2;
$font-family-sans-serif:		'Fira Sans', sans-serif;
$font-family-serif:				'Fira Sans', sans-serif;
$font-family-base:				'Fira Sans', sans-serif;

$font-size-base:				16px;
$font-size-h2:					23.3px;
$font-size-h3:					16px;

$headings-color:				#929292;

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "typeahead";


// --------------------------------------------------------------------------------
// KSSJ
// --------------------------------------------------------------------------------
// Typography
body {
	font-weight: 300;
}
h1, h2, h3 {
	font-weight: 400;
}
strong, .headword {
	font-weight: 500;
}

// Search bar
.search-bar {
	background-color: $kssj-blue-base;
	padding: 25px 0;
		
	a {
		color: $kssj-white;
		display: inline-block;
		
		&.home {
			margin-top: 10px;
		}	
		
		&.about {
			margin-top: 10px;
		}
	}		
			
		.input-group {
			
		input {
			@extend .form-control;
			background-color: $kssj-blue-base;
			background-image: url('../images/search.png');
			background-position: 10px center;
			background-repeat: no-repeat;
			padding-left: 35px;
			border-color: $kssj-white;
			color: $kssj-white;
			height: 50px;
			
			@include form-control-focus($kssj-white);
			@include placeholder($kssj-gray2);
		}
		
		button {
			background-color: $kssj-blue-base;
			border-color: $kssj-white;
			$color: $kssj-white;
			height: 50px;
			padding-left: 18px;
			padding-right: 18px;
	}
		}
}

// Page headers
.head {
	border-bottom: 1px solid #ddd;
	padding: 15px 0 15px 0;
	margin: 0;
	h2, h3 {
		padding: 0 0 0 20px;
		margin: 0;
		line-height: 1.3733;
	}	
	
	&.results {
		padding-top: 63px;
	}
	
	&.entry {
		padding-top: 32px;
		h2 {
			color: #23a9f6;
			font-weight: 500;
		}
		h3 {
			font-weight: 300;
		}
	}
	
	&.structure {
		border: 0;	
	}

	&.structure-menu {
		border: 0;
		padding-top: 43px;
	}	
	
	&.collocation {
		h2 {
			color: #565656;
			font-weight: 300;
		}
		h3 {
			font-weight: 300;
		}
	}
	
	&.about {
		h2 {
			padding-left: 0;
			padding-top: 27px;
		}
	}
}

// Results
.results {
	h3.group {
		padding-left: 20px;
		font-weight: 400;
		color: #929292;
	}
	
	p.hits {
		color: #929292;
		margin: 15px 0 15px 0;
		padding: 0 0 0 20px;
	}
}


.list-group > .list-group-item {
	padding-left: 20px;
}


.entry-wrapper {
	@include make-row();
	
	.collocators {
		@include make-lg-column(8);
	}
	.structures {
		@include make-lg-column(4);
	}
}

.collocation ul.examples {
	margin-top: 15px;
}