extends layout.jade

block content
	include ./partials/search-bar.jade
	.container
		.col-lg-12
			h2!= collocation
			h3!= structure
			ul
				each example in examples
					li!= example.zgled_html