extends layout.jade

block content
	include ./partials/search-bar.jade
	.container
		.row
			.col-md-4
				h3 Kolokacijski slovar slovenskega jezika
				p Kolokacijski slovar slovenskega jezika je skupni projekt #[a(href='http://www.cjvt.si') Centra za jezikovne vire in tehnologije] Univerze v Ljubljani, Centra za uporabno jezikoslovje pri zavodu #[a(href='http://www,trojina.si') Trojina] ter sodelavcev programske skupine »Slovenski jezik – bazične in kontrastivne raziskave« Filozofske fakultete Univerze v Ljubljani, študentov Fakultete za računalništvo in informatiko in Naravoslovnotehniške fakultete Univerze v Ljubljani. Predstavlja del jezikovnih podatkov, potrebnih za digitalno zasnovan opis slovenske leksike v #[a(href='http://www.cjvt.si/projekti/sssj/') Slovarju sodobnega slovenskega jezika].
			.col-md-4
				h3 Ciljni uporabniki
				p Kolokacije so najbolj pogoste in najbolj tipične besedne sopojavitve, ki odražajo naravno jezikovno rabo, kot je značilna za materne govorce. Slovar je namenjen predvsem profesionalnim piscem, kot so prevajalci in novinarji, pisateljem ter učencem slovenščine kot tujega jezika oz. vsem, ki jih zanima naravna in tipična jezikovna raba ter obnašanje besed z vidika njihovega neposrednega besedilnega okolja.
			.col-md-4
				h3 Avtomatsko izluščeni podatki
				p Slovar vsebuje avtomatsko izluščene podatke iz korpusa besedil #[a(href='http://www.gigafida.net') Gigafida]. Za prepoznavanje kolokacij smo uporabili za slovenščino prilagojene funkcije orodja #[a(href='https://www.sketchengine.co.uk/') Sketch Engine]. Avtomatsko izluščeni kolokacijski podatki predstavljajo prvo stopnjo v procesu izdelave celovitega kolokacijskega  opisa slovenskih besed. V končni podobi bo slovar vseboval ročno pregledane podatke o kolokacijah, ki bodo urejene glede na pogostnost in jezikovno relevantnost ter opisane s kratkimi pomenskimi indikatorji ter drugimi koristnimi podatki.