extends layout.jade

block content
	include ./partials/search-bar.jade
	.container
		ul.list-group
			each result in entries
				li.list-group-item
					a(href='/entry?id=' + result.id_gesla + '&q=' + q)= result.iztocnica