extends layout.jade
include ./mixins/collocations-mixins.jade

block content
	include ./partials/search-bar.jade
	.container
		h2 Rezultati iskanja
		if (headwords.length === 0 && collocations.length === 0)
			p Vaše iskanje ni obrodilo sadov.
		else
			if (headwords.length > 0)
				h3 Iztočnice
				ul.list-group
					each result in headwords
						li.list-group-item
							a(href='/entry?id=' + result.id_gesla + '&q=' + q)= result.iztocnica
			if (collocations.length > 0)
				h3 Kolokacije
				ul.list-group
					each result in collocations
						li.list-group-item
							+renderResultCollocation(result, q)
							
			p Število rezultatov: #{numFound}
			include ./mixins/pager-mixins.jade
			+pager(page, pageSize, numFound, '/search?q=' + q)